<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>大富翁</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    td {
        height: 150px;
        width: 150px;
        text-align: center;
        font-family: 微软雅黑, serif;

    }

    .room {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: small;
    }

    .info {
        width: 100%;
        height: 90px;
        line-height: 45px;
        border: 1px bisque solid;
        border-left: none;
        border-right: none;
        text-align: center;
        font-weight: bolder;
        font-size: larger;
    }

    .bottom {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: smaller;
    }

    .user {
        width: 15%;
        height: 25px;
        line-height: 25px;
        border: brown solid 2px;
        color: black;
        float: left;
        margin-left: 3px;
    }

    .detail {
        margin: 5% 5% 130%;
        width: 90%;
        text-align: center;
    }
    .detail_top {
        height: 50px;
        color: white;
        line-height: 50px;
        font-weight: bolder;
        font-size: larger;
    }

    embed {
        width: 24px;
        height: 24px;
        float: left;
        margin-top: 3px;
        margin-left: 3px;
    }

    button {

    }
</style>
<body>

<div id="app">
    <table>
        <tr>
            <td v-bind:style="{ color: map[0].color }">
                <div class="room" v-bind:style="{ 'background-color':  map[0].ownerColor }">
                    <embed v-for="n in map[0].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[0].name}}<br>
                    {{map[0].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[0].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[1].color }">
                <div class="room" v-bind:style="{ 'background-color': map[1].ownerColor }">
                    <embed v-for="n in map[1].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info"  v-on:click="showDetail(map[1])">
                    {{map[1].name}}<br>
                    {{map[1].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[1].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[2].color }">
                <div class="room" v-bind:style="{ 'background-color': map[2].ownerColor }">
                    <embed v-for="n in map[2].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[2].name}}<br>
                    {{map[2].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[2].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[3].color }">
                <div class="room" v-bind:style="{ 'background-color': map[3].ownerColor }">
                    <embed v-for="n in map[3].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[3])">
                    {{map[3].name}}<br>
                    {{map[3].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[3].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>

            </td>
            <td v-bind:style="{ color: map[4].color }">
                <div class="room" v-bind:style="{ 'background-color': map[4].ownerColor }">
                    <embed v-for="n in map[4].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[4].name}}<br>
                    {{map[4].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[4].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[5].color }">
                <div class="room" v-bind:style="{ 'background-color': map[5].ownerColor }">
                    <embed v-for="n in map[5].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[5].name}}<br>
                    {{map[5].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[5].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[6].color }">
                <div class="room" v-bind:style="{ 'background-color': map[6].ownerColor }">
                    <embed v-for="n in map[6].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[6])">
                    {{map[6].name}}<br>
                    {{map[6].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[6].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[7].color }">
                <div class="room" v-bind:style="{ 'background-color': map[7].ownerColor }">
                    <embed v-for="n in map[7].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[7].name}}<br>
                    {{map[7].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[7].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[8].color }">
                <div class="room" v-bind:style="{ 'background-color': map[8].ownerColor }">
                    <embed v-for="n in map[8].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[8])">
                    {{map[8].name}}<br>
                    {{map[8].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[8].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[9].color }">
                <div class="room" v-bind:style="{ 'background-color': map[9].ownerColor }">
                    <embed v-for="n in map[9].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[9])">
                    {{map[9].name}}<br>
                    {{map[9].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[9].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[10].color }">
                <div class="room" v-bind:style="{ 'background-color': map[10].ownerColor }">
                    <embed v-for="n in map[10].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[10].name}}<br>
                    {{map[10].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[10].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[39].color }">
                <div class="room" v-bind:style="{ 'background-color': map[39].ownerColor }">
                    <embed v-for="n in map[39].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[39])">
                    {{map[39].name}}<br>
                    {{map[39].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[39].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td colspan="9" rowspan="2" style="line-height: 40px; font-size: larger">
                <div v-for="m in messages" >{{m}}</div>
            </td>
            <td v-bind:style="{ color: map[11].color }">
                <div class="room" v-bind:style="{ 'background-color': map[11].ownerColor }">
                    <embed v-for="n in map[11].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[11])">
                    {{map[11].name}}<br>
                    {{map[11].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[11].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[38].color }">
                <div class="room" v-bind:style="{ 'background-color': map[38].ownerColor }">
                    <embed v-for="n in map[38].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[38].name}}<br>
                    {{map[38].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[38].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[12].color }">
                <div class="room" v-bind:style="{ 'background-color': map[12].ownerColor }">
                    <embed v-for="n in map[12].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[12].name}}<br>
                    {{map[12].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[12].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[37].color }">
                <div class="room" v-bind:style="{ 'background-color': map[37].ownerColor }">
                    <embed v-for="n in map[37].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[37])">
                    {{map[37].name}}<br>
                    {{map[37].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[37].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td colspan="2">
                <div class="bottom" v-for="u in users" v-bind:style="{ 'color': u.position != -1 ? u.color : 'grey' }" > {{u.name}} 剩余金钱 {{u.money}}</div>
            </td>
            <td>
                <button v-on:click="sell"
                        v-bind:disabled="'active_estate' != status && 'active_insufficient' != status && 'active_selling' != status " >变卖资产
                </button>
            </td>
            <td>
                <button v-on:click="transaction" v-bind:disabled="'active_estate' != status && 'active_insufficient' != status " >发起交易</button>
            </td>
            <td>
                <button v-on:click="roll" v-bind:disabled="'init' != status && 'active' != status" >投掷骰子</button>
            </td>
            <td>
                <button v-on:click="upgrade" v-bind:disabled="'active_estate' != status && 'active_selling' != status" >购买/盖楼</button>
            </td>
            <td>
                <button v-on:click="pass" v-bind:disabled="'active_estate' != status && 'active_insufficient' != status && 'active_selling' != status " >跳过/破产
                </button>
            </td>
            <td>{{status}}</td>
            <td></td>
            <td v-bind:style="{ color: map[13].color }">
                <div class="room" v-bind:style="{ 'background-color': map[13].ownerColor }">
                    <embed v-for="n in map[13].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[13])">
                    {{map[13].name}}<br>
                    {{map[13].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[13].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[36].color }">
                <div class="room" v-bind:style="{ 'background-color': map[36].ownerColor }">
                    <embed v-for="n in map[36].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[36].name}}<br>
                    {{map[36].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[36].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td rowspan="6" colspan="2">
                <div class="detail" v-if="show">
                    <div class="detail_top" v-bind:style="{'background-color': show.color }">{{show.name}}</div>
                    <table>
                        <tr v-for="(item,index) in show.detail">
                            <td style="height: 50px" v-if="index == 0 && show.type == 'estate'">空地</td>
                            <td style="height: 50px" v-if="index != 0 && index != 6 && show.type == 'estate'">{{index}}栋房屋</td>
                            <td style="height: 50px" v-if="index == 6 && show.type == 'estate'">房屋建筑费</td>
                            <td style="height: 50px">{{item}}</td>
                        </tr>
                        <tr >
                            <td style="height: 50px" v-if="show.type == 'estate'">空地抵押价格</td>
                            <td style="height: 50px">{{show.price / 2}}</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td rowspan="6" colspan="7">
                <table style="width: 80%;margin: 10%;height: 80%">
                    <tr v-for="(item,index) in asset">
                        <td style="height: 50px">
                            <div class="detail_top" v-bind:style="{'background-color': item.color ? item.color : 'gray' }">{{item.name}}</div>
                        </td>
                        <td style="height: 50px" v-if="item.type == 'estate'">房屋数量：{{item.roomLevel}}</td>
                        <td style="height: 50px" v-if="item.type == 'estate'">房屋卖价：{{item.detail[6] / 2}}</td>
                        <td style="height: 50px">空地卖价：{{item.price / 2}}</td>
                        <td style="height: 50px" v-if="item.type == 'estate'">
                            <button v-bind:disabled="'active_selling' != status || item.roomLevel == 0 "
                                    v-on:click="sell('room', item.name)">
                                卖房</button>
                        </td>
                        <td style="height: 50px">
                            <button v-bind:disabled="'active_selling' != status || (item.roomLevel != 0 && item.type == estate)"
                                    v-on:click="sell('estate', item.name)">
                                卖地</button>
                        </td>
                    </tr>
                </table>
            </td>
            <td v-bind:style="{ color: map[14].color }">
                <div class="room" v-bind:style="{ 'background-color': map[14].ownerColor }">
                    <embed v-for="n in map[14].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[14])">
                    {{map[14].name}}<br>
                    {{map[14].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[14].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[35].color }">
                <div class="room" v-bind:style="{ 'background-color': map[35].ownerColor }">
                    <embed v-for="n in map[35].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[35].name}}<br>
                    {{map[35].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[35].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[15].color }">
                <div class="room" v-bind:style="{ 'background-color': map[15].ownerColor }">
                    <embed v-for="n in map[15].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[15].name}}<br>
                    {{map[15].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[15].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[34].color }">
                <div class="room" v-bind:style="{ 'background-color': map[34].ownerColor }">
                    <embed v-for="n in map[34].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[34])">
                    {{map[34].name}}<br>
                    {{map[34].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[34].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[16].color }">
                <div class="room" v-bind:style="{ 'background-color': map[16].ownerColor }">
                    <embed v-for="n in map[16].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[16])">
                    {{map[16].name}}<br>
                    {{map[16].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[16].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[33].color }">
                <div class="room" v-bind:style="{ 'background-color': map[33].ownerColor }">
                    <embed v-for="n in map[33].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[33].name}}<br>
                    {{map[33].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[33].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[17].color }">
                <div class="room" v-bind:style="{ 'background-color': map[17].ownerColor }">
                    <embed v-for="n in map[17].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[17].name}}<br>
                    {{map[17].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[17].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[32].color }">
                <div class="room" v-bind:style="{ 'background-color': map[32].ownerColor }">
                    <embed v-for="n in map[32].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[32])">
                    {{map[32].name}}<br>
                    {{map[32].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[32].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[18].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[18].ownerColor }">
                    <embed v-for="n in map[18].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[18])">
                    {{map[18].name}}<br>
                    {{map[18].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[18].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[31].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[31].ownerColor }">
                    <embed v-for="n in map[31].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[31])">
                    {{map[31].name}}<br>
                    {{map[31].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[31].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>

            </td>
            <td v-bind:style="{ color: map[19].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[19].ownerColor }">
                    <embed v-for="n in map[19].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[19])">
                    {{map[19].name}}<br>
                    {{map[19].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[19].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>

            </td>
        </tr>
        <tr>
            <td v-bind:style="{ color: map[30].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[30].ownerColor }">
                    <embed v-for="n in map[30].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[30].name}}<br>
                    {{map[30].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[30].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[29].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[29].ownerColor }">
                    <embed v-for="n in map[29].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[29])">
                    {{map[29].name}}<br>
                    {{map[29].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[29].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[28].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[28].ownerColor }">
                    <embed v-for="n in map[28].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[28].name}}<br>
                    {{map[28].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[28].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[27].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[27].ownerColor }">
                    <embed v-for="n in map[27].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[27])">
                    {{map[27].name}}<br>
                    {{map[27].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[27].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[26].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[26].ownerColor }">
                    <embed v-for="n in map[26].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[26])">
                    {{map[26].name}}<br>
                    {{map[26].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[26].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[25].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[25].ownerColor }">
                    <embed v-for="n in map[25].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[25].name}}<br>
                    {{map[25].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[25].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[24].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[24].ownerColor }">
                    <embed v-for="n in map[24].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[24])">
                    {{map[24].name}}<br>
                    {{map[24].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[24].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[23].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[23].ownerColor }">
                    <embed v-for="n in map[23].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[23])">
                    {{map[23].name}}<br>
                    {{map[23].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[23].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[22].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[22].ownerColor }">
                    <embed v-for="n in map[22].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[22].name}}<br>
                    {{map[22].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[22].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[21].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[21].ownerColor }">
                    <embed v-for="n in map[21].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info" v-on:click="showDetail(map[21])">
                    {{map[21].name}}<br>
                    {{map[21].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[21].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
            <td v-bind:style="{ color: map[20].color }" >
                <div class="room" v-bind:style="{ 'background-color': map[20].ownerColor }">
                    <embed v-for="n in map[20].roomLevel" src="/room.svg" type="image/svg+xml"/>
                </div>
                <div class="info">
                    {{map[20].name}}<br>
                    {{map[20].price}}
                </div>
                <div class="bottom">
                    <div class="user" v-for="u in map[20].users" v-bind:style="{'border': u.color + ' solid 4px'}" >{{u.nick}}</div>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return (false);
    }

    function getCurrentUser(users, token) {
        for (var i = 0; i < users.length; i++) {
            if (token == users[i].token) {
                return users[i];
            }
        }
    }

    var monoData = {map: []}
    $.get({
        url: "/test/maps", success: function (result) {
            monoData.map = result.map;
            monoData.users = result.users;
            monoData.show = null;
            monoData.asset = null;
            monoData.messages = result.messages;
            var token = getQueryVariable("token")
            var status = getCurrentUser(result.users, token).status;
            monoData.status = status == null ? 'init' : status;
            var requestDto = {};
            requestDto.token = token;
            var vm = new Vue({
                el: "#app",
                data: monoData,
                created() { // 页面创建生命周期函数
                    this.initWebSocket()
                },
                destroyed: function () { // 离开页面生命周期函数
                    this.websocketclose();
                },
                methods: {
                    collapse: function () {
                        this.isCollapse = !this.isCollapse;
                        if (this.isCollapse) {
                            this.iconClass = "cebianlanzhankai";
                        } else {
                            this.iconClass = "cebianlanshouhui";
                        }
                    },
                    initWebSocket: function () {
                        // WebSocket与普通的请求所用协议有所不同，ws等同于http，wss等同于https
                        var domain = location.host
                        console.log(domain)
                        console.log(token)
                        this.websock = new WebSocket("ws://" + domain + "/websocket/" + token);
                        this.websock.onopen = this.websocketonopen;
                        this.websock.onerror = this.websocketonerror;
                        this.websock.onmessage = this.websocketonmessage;
                        this.websock.onclose = this.websocketclose;
                    },
                    websocketonopen: function () {
                        console.log("WebSocket连接成功");
                    },
                    websocketonerror: function (e) {
                        console.log("WebSocket连接发生错误");
                    },
                    websocketonmessage: function (e) {
                        console.log(e)
                        var da = JSON.parse(e.data);
                        monoData.map = da.map;
                        monoData.users = da.users;
                        monoData.messages = da.messages;
                        monoData.asset = da.asset;
                        var status = getCurrentUser(da.users, token).status;
                        monoData.status = status == null ? 'init' : status;
                        console.log(da);
                        this.message = da;
                    },
                    websocketclose: function (e) {
                        alert("连接终端，请刷新")
                        console.log("connection closed (" + e.code + ")");
                    },
                    roll: function () {
                        requestDto.method = 'roll';
                        this.websock.send(JSON.stringify(requestDto))
                    },
                    upgrade: function () {
                        requestDto.method = 'upgrade';
                        this.websock.send(JSON.stringify(requestDto))
                    },
                    sell: function (type, name) {
                        requestDto.method = 'sell';
                        requestDto.sellType = type;
                        requestDto.sellName = name;
                        this.websock.send(JSON.stringify(requestDto))
                    },
                    transaction: function () {
                        requestDto.method = 'transaction';
                        this.websock.send(JSON.stringify(requestDto))
                    },
                    pass: function () {
                        requestDto.method = 'pass';
                        this.websock.send(JSON.stringify(requestDto))
                    },
                    showDetail: function (show) {
                        monoData.show = show;
                        console.log(show)
                    }
                }
            })
        }
    });

</script>
</body>
</html>